* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 812px;
    width: 1600px;
    opacity: 0.6;
}

.txt {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}